*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    text-decoration: none;
    list-style: none;
}

/* SEARCH */

form input
{

    max-width:500px;
    background: #F3F3F3;
    border-radius: 3333px;
}

form .form-control 
{
  margin: 25px 0;
  width: 310%;
  height:40px; 
  font-size: 0.8rem;
  background: #F3F3F3;
  border-radius: 13.3333px;
  border: 1px #F3F3F3;
}

.navbar-brand img
{
    max-width: 100%; 
    height: auto; 
    display: block;
}

.container-fluid .navbar-brand 
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}

.container-fluid .nav-link
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}


i{
    color: rgba(191, 29, 46, 1);
    margin-right: 6px;
    
}

/* PRODUCTS */


.Products h5
{
    width: 204px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #3E3E3E;
    margin: 20px;
    padding-left: 40px;
    padding-top: -40px;
}

.Products .view_all
{
    float: right;
    font-size: .8rem;
    color: #666666;
}

.product_co
{
    color: rgba(191, 29, 46, 1);
}

.container .btn
{
    background: #F1F1F1;
    border-radius: 24px;
    border: none;
    color: #000;
    font-weight: 500;
    width: 120%;
    font-size: 0.8rem;
    padding: 10px;
    
}
.col 
{
    padding: 5px;
}

.container .btn-secondary:hover
{
    background-color: rgba(191, 29, 46, 1);
    color: #fff;
}

h6{
    width: 129px;
    height: 27px;
    left: 160px;
    top: 473px;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #666666;
}

/* CATEGORIES PRODUCTS*/

.container-products
{
    /* padding: 40px 40px; */
    /* margin: 20px; */
    padding-top: 40px;
}

.container-products img
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F5F5F5;
    border-radius: 21.4753px;
    padding: 20px;
}



.container-products .title
{
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
}

.container-products .card-text
{
    text-align: center;
    font-size: 0.9rem;
    color: #666666;
    
}

.container-products .btns
{
    width: 100%;
    padding: 3px;
    background-color: #fff;
    font-size: 0.9rem;
    border: 1.59223px solid #000000;
    border-radius: 20px;
}

.container-products .btns:hover
{
    background-color: rgba(191, 29, 46, 1);
    color: #fff;
    border: none;
}

.second-row
{
    padding-top: 40px;
}

.third-row
{
    padding-top: 40px;
}

.four-row
{
    padding-top: 40px;
}


/* Footer*/


/* block-footer */

.container-block-footer
{
    padding-top: 100px;
}
.container-footer3
{
    background: #BF1D2E;
    max-width: 800px;
    margin-left: auto;
    color: #fff;
    padding: 20px;
    
}
.rows
{
    display: flex;
    flex-wrap: wrap;
}

.container-footer3 h5
{
    font-family: 'Bevan';
}

.container-footer3 p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.footer-block-col .btn
{
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    width: 200px;
    font-size: 13px;
    margin: 20px;
}

/* Footer*/

.footer2
{
    /* Width:100%;
    Height:200px; */
    /* padding: 5px; */
    background-color: #3E3E3E;
    display: flex;
    justify-content: center;
    padding-top: 20px;


}

.containers
{
    max-width: 900px;
    margin: auto;
}

ul
{
    list-style: none;
}

.items .h4
{
    font-size: 15px;
    color:#fff;
    text-transform: capitalize;
    /* margin-bottom: 5px; */
    font-family: 'Bevan';
}

.footer2 ul li:not(:last-child)
{
    margin-bottom: 5px;
    
}

.footer2 .social-links a
{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 20px;
    color: #3E3E3E;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.footer2 .social-links a:hover
{
    color:#fff;
    background-color: rgba(62, 62, 62, 1);
}
.items 
{

    margin-bottom: 50px;
    width: 250px;
    padding: 5px;
    color: #fff;
    font-size: 0.7rem;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer-logo
{
    width: 20%;
}


@media(max-width:767px)
{
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px)
{
    .footer-col{
        width: 100%;
        
    }
}
 