*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    text-decoration: none;
    list-style: none;
}

/* .bg{
    background-color: rgb(253, 253, 253);
  
} */



.navbar-brand img
{
    max-width: 100%; 
    height: auto; 
    display: block;
}

.container-fluid .navbar-brand 
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}

.container-fluid .nav-link
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}


i{
    color: rgba(191, 29, 46, 1);
    margin-right: 6px;
    
}
form .form-control 
{
  margin: 25px 0;
  width: 310%;
  height:40px; 
  font-size: 0.8rem;
  background: #F3F3F3;
  border-radius: 13.3333px;
  border: 1px #F3F3F3;
}

.profile-image
{
    width: 10%;
    height: auto;
}

.profile-name 
{
    text-decoration: none;
    color: #666666;
    font-size: 0.8rem;
}

/* MY  ACCOUNT */
.accounts h5
{
    width: 204px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #3E3E3E;

}


.accounts_profile
{
    color: rgba(191, 29, 46, 1);
}

.container .btn
{
    background: #BF1D2E;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: 500;
    width: 100%;
    font-size: 0.8rem;
    padding: 10px;
    
}

/* PROFILE CARD */

.card-body .card-text
{
    font-size: 0.9rem;
}

.card-body .card-texts
{
    font-size: 0.8rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
}



/* CARD  */

.card-title
{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #222222;
}
.container .card
{
    background: #F5F5F5;
    border-radius: 16.1156px;
    border: #F5F5F5;
    margin: 30px;

}

.card-body li
{
    padding-top: 20px;
}

.card-body .product-img
{
    width: 90%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}

.total
{
    font-size: 25px;
    color: #000;
}

.text-mut
{
    color: #666666;
    
}

.cards-btn1 .btn
{
    padding: 5px;
    margin: 5px;
    font-size: 0.7rem;
 
}

.cards-btn2 .btn
{
    padding: 5px;
    margin: 5px;
    font-size: 0.7rem;
    background-color: #fff;
    border:1px solid #000;
    color: #000;
}