hr{
    border: 0.2rem solid #EDEDED;
   
}

.navbar-brand img
{
    max-width: 100%; 
    height: auto; 
    display: block;
}

.container-fluid .navbar-brand 
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}

.container-fluid .nav-link
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 19px;
    color: #666666;
}


i{
    color: rgba(191, 29, 46, 1);
    margin-right: 6px;
    
}

.form .form-control 
{
  margin: 25px 0;
  width: 310%;
  height:40px; 
  font-size: 0.8rem;
  background: #F3F3F3;
  border-radius: 13.3333px;
  border: 1px #F3F3F3;
}


/* PRODUCTS */


.Products h5
{
    width: 204px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #3E3E3E;
    margin: 20px;
    padding-left: 40px;
    padding-top: -40px;
}

.product_co
{
    color: rgba(191, 29, 46, 1);
}

.container .btn
{
    background: #F1F1F1;
    border-radius: 24px;
    border: none;
    color: #000;
    font-weight: 500;
    width: 120%;
    font-size: 0.8rem;
    padding: 10px;
    
}
.col 
{
    padding: 5px;
}

.container .btn-secondary:hover
{
    background-color: rgba(191, 29, 46, 1);
    color: #fff;
}

h6{
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #666666;
}


/* ORDER SUMMARY */

.list-group 
{
    padding-top: 60px;

    /* padding-bottom: 40px; */
    /* background-color: #F5F5F5; */
}



.text-mu
{
    float: left;
    font-size: 0.8rem;
    color: #000;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
/* .list-group-item
{
    background-color: #F5F5F5;
} */
.list-group img
{ 
    width: 50%;
}

.my-0
{
    margin-left: 5px;
}


.text-mute
{

    color: #000;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}


.container .order
{
    padding-top: 60px;
}


/* DELLIVERY FORM */

.flex-column p
{
    font-size: 0.8rem;
}
.container .btns
{
    width: 40%;
    padding: 5px;
    color: #fff;
    font-size: 0.9rem;
    border: 1px solid #000000;
    background: #BF1D2E;
    border-radius: 31.5px;
    border: none;
    
}

.form-check-input input
{
    background: #BF1D2E;
}

.foo-container
{
    padding-top: 100px;
}

.md-form
{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
input::placeholder{
    font-size: 0.7rem;
}

/* Footer*/

.footer2
{
 
    background-color: #3E3E3E;
    display: flex;
    justify-content: center;
    padding-top: 20px;


}

.containers
{
    max-width: 900px;
    margin: auto;
}

ul
{
    list-style: none;
}

.rows
{
    display: flex;
    flex-wrap: wrap;
}

.items .h4
{
    font-size: 15px;
    color:#fff;
    text-transform: capitalize;
    /* margin-bottom: 5px; */
    font-family: 'Bevan';
}

.footer2 ul li:not(:last-child)
{
    margin-bottom: 5px;
    
}

.footer2 .social-links a
{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 20px;
    color: #3E3E3E;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.footer2 .social-links a:hover
{
    color:#fff;
    background-color: rgba(62, 62, 62, 1);
}
.items 
{

    margin-bottom: 50px;
    width: 250px;
    padding: 5px;
    color: #fff;
    font-size: 0.7rem;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footer-logo
{
    width: 20%;
}


@media(max-width:767px)
{
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px)
{
    .footer-col{
        width: 100%;
        
    }
}

 